@use "../../global" as *;
/* ===============================================
#ボタンのコンポーネント
=============================================== */
.c-btn {
    &__type1 {
        display: block;
        max-width: 253px;
        text-align: center;
        color: #fff;
        @include fontsize(18);
        border: 1px solid #fff;
        padding: 9px 0;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: .02em;
        
        &::after {
            position: relative;
            content: "";
            background: transparent url(./../image/btn-arrow.png) no-repeat top center / cover;
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-left: 14px;
            margin-bottom: 2px;
        }
    }
    
    &__type2 {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        @include fontsize(18);
        border: 1px solid $color-primary;
        background-color: $color-primary;
        padding: 8px 0;
        
        @include mq(medium, max, true) {
            letter-spacing: -.06em;
        }
        
        &::after {
            position: relative;
            content: "";
            background: transparent url(./../image/arrow-right-white.png) no-repeat top center / cover;
            width: 10px;
            height: 8px;
            display: inline-block;
            margin-left: 14px;
            bottom: 2px;
            
            @include mq(medium, max, true) {
                width: 8px;
                height: 6px;
                margin-left: 10px;
                bottom: 4px;
                
            }
        }
    }
}