$color-primary: #B09B6F;
$color-gray: #F9F9F9;

// base color
$color-text: #2A2C33 !default;
$color-text-gray: #989898;

// link color
$color-link: #2A2C33 !default;
$color-link-secondary: #689E94;
$color-link--visited: null !default;

// sns color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-line: #00b900;