// default wrapper width
$max-width: 969px;

// base Rounded corners
$radius: 3px;

// base animation speed
$duration: 0.2s;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;